
<!DOCTYPE html>
<html>

<head>
    <title>
        check Spelling
    </title>
    <style>
      textarea {
       resize: none;
      }
      #btn1{
         font-size: 19px;
         cursor: pointer;
         color: black;
         background-color: lightblue;
      }
    </style>
</head>

<body style="text-align:center">

    <h1 style="color:green;">
            Check Spelling
    </h1>


    <textarea rows="10" cols="100" placeholder="Type..." id="mytext" value=""></textarea>
     <br>
     <br>
    <button type="button"  id="btn1">Check Spelling</button>

    <script src="js/dict.js"></script>
</body>

</html>
